<div class="container">
  <%= form_for @user, url: user_path do |f| %>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, class: "form-control"%>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, class: "form-control rounded"%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, {class: "form-control"} %>
      </div>
    </div>

    <div class="col-md-12 mt-3">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.submit "Edit", class: "btn-lg btn-success text-white" %>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  <% end %>
</div>
